spring.application.name=apigateway

#Credenciais de login
CLIENT_ID=
PAYER_USERNAME=
PASSWORD=

#Minha URL de callback
CALLBACK_URL=.../webhook

#Endpoints da API de pagamento
EP_PAGAMENTOS=
EP_TOKEN=
