spring.application.name=apigateway

# Credenciais de login
CLIENT_ID=
PAYER_USERNAME=
PASSWORD=

# URL de callback (webhook.site)
# Acesse https://webhook.site e copie a URL única gerada
CALLBACK_URL=

#URL DE CALLBACK PARA FAZER O POLLING
#exemlo: https://webhook.site/token/as51-casdfdsa151-asdadsa-ASKDL12/requests
POOLING_CALLBACK_URL=

# Endpoints da API de pagamento
TOKEN_ENDPOINT_URL=
TRANSACTION_ENDPOINT_URL=

# Identificação da Empresa, Loja e terminal (checkout)
COMPANY_ID=
STORE_ID=
TERMINAL_ID=

AUTOMATION_NAME=


### PARA REDUZIR OS LOGS NO CONSOLE E MELHORAR A VISUALIZAÇÃO ###
# Reduz o log do Spring Boot para WARN
logging.level.org.springframework=warn
# Reduz o log do Tomcat para WARN
logging.level.org.apache.catalina=warn
logging.level.org.apache.coyote=warn
logging.level.org.apache.tomcat=warn